@using JobVacanciesAPP.BAL.DTOs.UserProfile
@{
    @model UserProfileDTO;
    ViewData["Title"] = "Мій профіль кандидата";
}

<h2 class="mb-4">Мій профіль кандидата</h2>

<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Особисті дані</h5>
        <p><strong>Ім’я:</strong>@Model.Candidate.FullName</p>
        <p><strong>Email:</strong> @Model.User.Email</p>
        <p><strong>Дата народження:</strong> @Model.Candidate.DateOfBirth.ToString()</p>
        <p><strong>Досвід роботи:</strong> @Model.Candidate.Experience</p>
        <form method="get" asp-controller="Profile" asp-action="ViewAndEditSkills">
            <button type="submit" class="btn btn-outline-primary w-100">Переглянути навички</button>
        </form>
        <p><strong>Резюме:</strong> <a href="#">@Model.Candidate.ResumeFilePath</a></p>

        <form method="get" asp-controller="Profile" asp-action="EditCandidate">
            <button type="submit" class="btn btn-outline-primary w-100">Редагувати профіль</button>
        </form>
    </div>
</div>

<h3 class="mt-4">Рекомендовані вакансії</h3>

@if (Model.VacancyPage?.Vacancies != null && Model.VacancyPage.Vacancies.Any())
{
    <div class="vacancy-list">
        @foreach (var vacancy in Model.VacancyPage.Vacancies)
        {
            <div class="card mb-3 p-3 shadow-sm rounded">
                <h5>@vacancy.Title</h5>
                <p>@vacancy.Description</p>
                <p><strong>Місто:</strong> @vacancy.Location</p>
            </div>
            <div class="d-flex gap-2 mb-2">
            <a asp-controller="Vacancy" asp-action="Details" asp-route-id="@vacancy.Id" class="btn btn-primary btn-sm">
                Переглянути
            </a>

            <form asp-controller="Vacancy" asp-action="Apply" asp-route-id="@vacancy.Id" method="post" onsubmit="return confirm('Ви дійсно хочете відгукнутися на цю вакансію?');">
                <button type="submit" class="btn btn-success btn-sm">Відгукнутися</button>
            </form>
        </div>
        }
    </div>
}
else
{
    <p>Поки що немає рекомендацій.</p>
}
