@model JobVacanciesAPP.DAL.Models.Vacancy.VacancyPage

@{
    ViewData["Title"] = "Пошук вакансій";
}

<h2>Пошук вакансій</h2>

<form asp-action="Index" method="get" class="mb-4">
    <div class="row g-2 mb-2">
        <div class="col-md-4">
            <input type="text" name="keyword" class="form-control" placeholder="Пошук по назві" />
        </div>
    </div>
    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary">Шукати</button>
        <a asp-action="Index" asp-controller="Profile" class="btn btn-success">Рекомендовані для мене</a>
    </div>
</form>

 <div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var vacancy in Model.Vacancies)
    {
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@vacancy.Title</h5>
                    <p><strong>Компанія:</strong> @vacancy.Company</p>
                    <p><strong>Локація:</strong> @vacancy.Location</p>
                    <p>@vacancy.Description</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a asp-controller="Vacancy" asp-action="Details" asp-route-id="@vacancy.Id" class="btn btn-outline-primary btn-sm">Детальніше</a>
                    @if (User.IsInRole("Candidate"))
                    {
                        <form asp-controller="Vacancy" asp-action="Apply" asp-route-Id="@vacancy.Id" method="post">
                            <button type="submit" class="btn btn-success btn-sm">Подати заявку</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    }
</div> 
@if (Model.PageCount != null && Model.PageCount > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-4">
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.Page ? "active" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-keywords="@Model.Keyword"
                       asp-route-page="@i">
                        @i
                    </a>
                </li>
            }
        </ul>
    </nav>
}